body {
    background: rgb(119, 47, 198);
    background: linear-gradient(rgba(119, 47, 198, 1) 0%, rgba(177, 66, 186, 1) 100%);
}

.photo {
    position: absolute;
    top: 55px;
    right: 116px;
    bottom: 175px;
    left: 1050px;
    width: 534px;
    height: 685px;
    background: url(./photo\ 1\ 1.jpg);
    border-radius: 67px;
}

.element {
    position: absolute;
    width: 900px;
    height: 740px;
    left: 630px;
    top: 55px;
    /* border: 2px solid black; */
    background-image: url(./Elements_1-removebg-preview.png), linear-gradient(rgba(119, 47, 198, 1) 0%, rgba(177, 66, 186, 1) 100%);
    background-size: contain;
    /* background-blend-mode: soft-light; */
    background-repeat: no-repeat;
    z-index: -1;
}

.text {
    position: absolute;
    width: 856px;
    height: 472px;
    left: 116px;
    top: 100px;

}

.text>h1 {
    font-family: "Poppins", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 120px;
    line-height: 15px;
    color: #FFFFFF;

}

.quote {
    position: absolute;
    width: 700px;
    height: 82px;
    left: 116px;
    top: 570px;
}

.quote>h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 5px;
}

button {
    box-sizing: border-box;
    position: absolute;
    width: 344px;
    height: 78px;
    left: 116px;
    top: 680px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 39px;

}

button>p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
}

button:hover {
    background: rgb(119, 47, 198), linear-gradient(90deg, rgba(119, 47, 198, 1) 0%, rgba(177, 66, 186, 1) 100%);
    cursor: pointer;
    mix-blend-mode: soft-light;
}