@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,500,600|DM+Sans:700");

/* varibles */
:root {
    --black: rgba(0, 0, 0, 1);
    --picton-blue: #155FEA;
    --alto: rgba(217, 217, 217, 1);
    --cinnabar: rgba(234, 67, 53, 1);
    --alabaster: rgba(250, 250, 250, 1);
    --golden-tainoi: rgba(255, 201, 95, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-xs: 24px;
    --font-size-s: 27px;
    --font-size-s: 28px;
    --font-size-m: 30px;
    --font-size-m: 63px;
    --font-size-1: 34px;
    --font-size-1: 38px;
    --font-size-x1: 39px;
    --font-size-xxl: 45px;
    --font-size-xxx1: 51px;
    --font-size-xxxxl: 196px;
    --font-family-dm_sans: "DM Sans";
    --font-family-poppins: "Poppins";

}

nav{
    padding: 15px 0px;
    position: sticky;
    top: 0px;
}

.ai-kbi {
    color: var(--picton-blue);
    font-size: 60px;
    font-family: var(--font-family-poppins);
    font-weight: 700;
    letter-spacing: 0;
    position: absolute;
    top: 0px;
    text-align: center;
    width: 167px;
    left: 30px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.place {
    text-align: center;
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-weight:500;
    left: 1052px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 23px;
    /* border: 3px solid black; */
}

.explore {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-weight:500;
    left: 1197px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 23px;
}

.news-events {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-weight:500;
    left: 1361px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 23px;
}

.button-1 {
    color: var(--picton-blue);
    font-family: var(--font-family-poppins);
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 3px 4px 32px #00000040;
    height: 64px;
    left: 1634px;
    position: absolute;
    top: 10px;
    width: 223px;
    background-color: var(--white);
    border: 3px solid var(--picton-blue)
}

.button-1:hover{
    color: white;
    background-color: var(--picton-blue);
}

.get-incubated {
    color: var(--picton-blue);
    font-family: var(--font-family-poppins);
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0;
    left: 1639px;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 218px;
}

.frame-2 {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    height: 6455px;
    overflow: hidden;
    width: 1920px;
}

/* classes */
.dmsans-bold-picton-blue-115px {
    color: var(--picton-blue);
    font-family: var(--font-family-dm_sans);
    font-size: 115px;
    font-weight: 700;
    font-style: normal;
}

.border-3px-piction-blue {
    border-width: 3px;
    border-style: solid;
    border-color: var(--picton-blue);
}

.poppins-medium-black-24px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    font-weight: 500;
    font-style: normal;
}

.poppins-medium-cinnabar-28px {
    color: var(--cinnabar);
    font-weight: 500;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-style: normal;
}

.poppins-medium-picton-blue-39px {
    color: var(--picton-blue);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-style: normal;
}

.dmsans-bold-cinnabar-103px {
    color: var(--cinnabar);
    font-family: var(--font-family-dm_sans);
    font-size: 103px;
    font-weight: 700;
    font-style: normal;

}

.poppins-bold-picton-blue-60px {
    color: var(--picton-blue);
    font-family: var(--font-family-poppins);
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}

.poppis-bold-picton-blue-215px {
    color: var(--picton-blue);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: 215px;
    font-weight: 700;
}

.poppis-medium-black-30px {
    color: var(--black);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 500;
}

.poppis-semi-bold-cinnabar-27px {
    color: var(--cinnabar);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: 27px;
    font-weight: 600;
}

.poppins-normal-black-63px {
    color: var(--black);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: 63px;
    font-weight: 400;
}

.poppins-bold-golden-tainoi-34px {
    color: var(--golden-tainoi);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-1);
    font-weight: 700;
}

.poppins-bold-picton-blue-45px {
    color: var(--picton-blue);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxl);
    font-weight: 700;
}

.dmsans-bold-alabaster-196px {
    color: var(--alabaster);
    font-style: normal;
    font-family: var(--font-family-dm_sans);
    font-size: 196px;
    font-weight: 700;
}

.poppins-medium-alabaster-56px {
    color: var(--alabaster);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: 56px;
    font-weight: 700;
}

.poppins-normal-white-30px {
    color: var(--white);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 400;
}

.poppins-medium-alabaster-51px {
    color: var(--alabaster);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxx1);
    font-weight: 500;
}

.poppins-medium-cinnabar-30px {
    color: var(--cinnabar);
    font-style: normal;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 500;
}





/* Arshad */
/* Working */
.rectangle-2 {
    background-color: var(--picton-blue);
    height: 1152px;
    left: 0;
    position: absolute;
    top: 84px;
    width: 1920px;
    /*changable*/
}

/* not working */
.start-develope-grow {
    color: rgba(250, 250, 250, 1);
    font-family: var(--font-family-dm_sans);
    font-size: 196px;
    font-weight: 700;
    left: 142px;
    letter-spacing: 0;
    line-height: 209px;
    /* opacity: 0; */
    position: absolute;
    top: 279px;
    transform: scale(1.1);
}

.start-develope-grow.bp1-animate-enter2 {
    animation: bp1-animate-enter2-frames 0.2s ease-in-out 0s 1 normal forwards;
    /* opacity: 0; */
    transform: scale(1.1);
}

@keyframes bp1-animate-enter2-frames {
    /* Have to define */
}

/* Working */
.group {
    height: 153px;
    left: 0;
    position: absolute;
    top: 882px;
    width: 278px;
}

/* working */
.element-1 {
    display: block;
    height: 842px;
    left: 580px;
    object-fit: cover;
    /* opacity: 0; */
    position: absolute;
    top: 486px;
    /* width: 727px; */
    transform: scale(1.1);
}

/* Working */
.empowering-incubator {
    color: var(--cinnabar);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-weight: 500;
    left: 786px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 877px;
    width: 343px;
}

/* not working */
.group-1 {
    height: 232px;
    left: 1817px;
    position: absolute;
    top: 07px;
    width: 103px;
    z-index: 1;
}

.photo-1-1 {
    height: 823px;
    /* display: block; */
    left: 1277px;
    object-fit: cover;
    /* opacity: 0; */
    position: absolute;
    top: 101px;
    width: 591px;
    transform: scale(1.1);
}

.photo-1-1.bp1-animate-enter {
    animation: bp1-animate-enter-frames 0.2s ease-in-out 0s 1 normal forwards;
    display: block;
    /* opacity: 0; */
    transform: scale(1.1);
}

@keyframes bp1-animate-enter-frames {
    /* have to define */
}

/* working */
.photo-2-1 {
    height: 510px;
    left: 63px;
    object-fit: cover;
    position: absolute;
    top: 1185px;
    width: 762px;
}

.whether-youre-start {
    color: var(--picton-blue);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-x1);
    font-weight: 500;
    left: 550px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 1799px;
    width: 927px;
}

.group-5-2 {
    height: 185px;
    left: 1397px;
    object-fit: cover;
    position: absolute;
    top: 1695px;
    width: 173px;
}

.button-2 {
    border-radius: 20px;
    color: var(--picton-blue);
    box-shadow: 3px 4px 32px #00000040;
    height: 117px;
    left: 815px;
    position: absolute;
    top: 2101px;
    width: 397px;
    background-color: var(--white);
    border: 3px solid var(--picton-blue);
    font-family: var(--font-family-poppins);
    font-size: 27px;
    font-weight: 600;
}

.button-2:hover{
    background-color: var(--picton-blue);
    color: white;
}

.photo-3-2{
    height: 492px;
    left: 1477px;
    object-fit: cover;
    position: absolute;
    top: 2135px;
    width: 443px;
    z-index: 1;
}

.group-3{
    height: 215px;
    left: 1380px;
    position: absolute;
    top: 1988px;
    width: 262px;
    z-index: 1;
}

.rectangle-6{
    background-color: var(--picton-blue);
    height: 432px;
    left: 0;
    position: absolute;
    top: 2545px;
    width: 1920px;
}

.group-1-1{
    height: 87px;
    left: 1213px;
    position: absolute;
    top: 284px;
    width: 359px;
}

.success-is-not-final{
    color: var(--alabaster);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxx1);
    font-weight: 500;
    left: 156px;
    letter-spacing: 0;
    position: absolute;
    top: 180px;
    width: 1144px;

}

.name{
    color: var(--cinnabar);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-weight: 500;
    letter-spacing: 0;
    left: 1263px;
    position: absolute;
    top: 296px;

}
.photo41 {
    position: absolute;
    width: 1034px;
    height: 1161px;
    left: -14px;
    top: 4850px;
    z-index:5;
}
.rectangle17 {
    position: absolute;
    width: 120px;
    height: 118px;
    left: 960px;
    top: 5305px;
    background: #F8202E;
    border-radius: 25px;
    z-index:5;
}
.tick1{
    position: absolute;
    width: 68px;
    height: 51px;
    left: 986px;
    top: 5338px;
    z-index:5;
}
.rectangle18{
    position: absolute;
    width: 120px;
    height: 118px;
    left: 960px;
    top: 5511px;
    background: #F8202E;
    border-radius: 25px;
    z-index:5;
}
.tick2{
    position: absolute;
    width: 68px;
    height: 51px;
    left: 986px;
    top: 5544px;
    z-index:5;
}
.rectangle19{
    position: absolute;
    width: 120px;
    height: 118px;
    left: 960px;
    top: 5717px;
    background: #F8202E;
    border-radius: 25px;
    z-index:5;
}
.tick3{
    position: absolute;
    width: 68px;
    height: 51px;
    left: 986px;
    top: 5750px;
    z-index:5;
}
.learn{
    position: absolute;
    width: 651px;
    height: 374px;
    left: 1111px;
    top: 4500px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 132px;
    /* or 115% */
    color: #155FEA;
}
.expert{
    position: absolute;
    width: 590px;
    height: 41px;
    left: 1121px;
    top: 5200px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 51px;

    color: #FFC95F;
}
.keep{
    position: absolute;
    width: 590px;
    height: 84px;
    left: 1121px;
    top: 5300px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}
.group{
    position: absolute;
    width: 616px;
    height: 41px;
    left: 1121px;
    top: 5400px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 51px;

    color: #FFC95F;
}
.guide{
    position: absolute;
    width: 615px;
    height: 84px;
    left: 1121px;
    top: 5490px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}
.interaction{
    position: absolute;
    width: 615px;
    height: 41px;
    left: 1121px;
    top: 5600px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 51px;

    color: #FFC95F;
    }
.connect{
    position: absolute;
    width: 615px;
    height: 84px;
    left: 1121px;
    top: 5730px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
    }
.rectangle13{
    position: absolute;
    width: 1936px;
    height: 416px;
    left: -16px;
    top: 5970px;

    background: #155FEA;
}
.for{
    position: absolute;
    width: 1100px;
    height: 68px;
    left: 150px;
    top: 6150px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 84px;

    color: #FAFAFA;
}
.elements53{
    position: absolute;
    width: 102px;
    height: 109px;
    left: 1710px;
    top: 6060px;
    }

/*
.rectangle20{
    position: absolute;
    width: 353px;
    height: 105px;
    left: 1450px;
    top: 6150px;

    background: #FFFFFF;
    border-radius: 20px;
}
.clickhere{
    position: absolute;
    width: 200px;
    height: 32px;
    left: 1532px;
    top: 6180px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #EA4335;
}
*/

.button-Click {
    color: var(--picton-blue);
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 3px 4px 32px #00000040;
    position: absolute;
    width: 353px;
    height: 105px;
    left: 1400px;
    top: 6130px;
    background-color: #FAFAFA;
    border: 3px solid red;
}

.button-Click:hover{
    color: black;
    background-color: rgb(242, 195, 6);
}

.clickhere {
    color: var(--picton-blue);
    font-family: var(--font-family-poppins);
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 0;
    left: 1572px;
    position: absolute;
    text-align: center;
    top: 6130px;
    width: 200px;
}